*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline:none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: radial-gradient(circle, rgba(63,172,251,1) 0%, rgba(70,108,252,1) 100%);
    --second-bg-color: #323946;
    --text-color: #000;
    --main-color: #fff;
}

html{
    font-size: 80%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em 10%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header.sticky {
    border-bottom: .1rem solid var(--text-color);
}

section {
    min-height:100vh;
    padding: 15rem 10%;
}

.logo {
    font-size: 2.5em;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.4em;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .5s;
}

.navbar a:hover, .navbar a.active{
    color: var(--main-color);
}

#menu-icon {
    font-size: 4rem;
    color: var(--text-color);
    display: none;
}

.image {
    width: 20vw;
    height: auto;
    margin-left: 20rem;;
    border: 1px solid #000;
    border-radius: 20%;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 20vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.5rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 3rem;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
    font-size: .8em;
}

.home-content h1 {
    font-size: 5rem;
    line-height: 1;
}

.home-content p {
    font-size: 1.2rem;
    text-align: justify;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .2rem solid var(--text-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--second-bg-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--text-color);
    color: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    color: var(--main-color);
    background: var(--text-color);
    border-radius: 3rem;
    box-shadow: 0 0 1rem var(--second-bg-color);
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 500;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,13,189,1) 48%, rgba(0,247,255,1) 100%);
}

.about-img img{
    width: 25vw;
    margin-bottom: 5em;
    margin-right: 20em;
    border: 1px solid #fff;
    border-radius: 20%;
    animation: floatImage 4s ease-in-out infinite;
}

.heading {
    text-align: center;
    font-size: 4rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1;
}

.about-content h3 {
    font-size: 3rem
}

.about-content p {
    font-size: 2rem;
    margin: 2rem 0;
    text-align: justify;
}

.services h2 {
    margin-bottom: 5rem;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.services-content {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    line-height: 1.5;
}

.services-content .service-box {
    background: hsl(600, 70%, 60%);
    padding: 6rem 0;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-content .service-box:hover{
    border-color: var(--text-color);
    transform: scale(1.05);
}

.services-content i {
    display: flex;
    justify-content: center;
    font-size: 7em;
    color: var(--bg-color);
}

.services-content h3 {
    font-size: 3rem;
}

.service-box p {
    font-size: 1rem;
    margin: 0 10rem;
    text-align: justify;
}

.portfolio {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,13,189,1) 48%, rgba(0,247,255,1) 100%);

}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-content {
    align-items: center;
}

.portfolio-content .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.portfolio-box img {
    position: relative;
    top: 250px;
    width: 260px;
    height: 250px;
}

.portfolio-box .portfolio-layer {
    position: relative;
    left: 0;
    width: 30%;
    height: 260px;
    background: linear-gradient(rgba(0,0,0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 1rem;
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 2rem;
    margin: .3rem 0 1;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 5rem;
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--text-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }

    .contact {
        min-height: auto;
    }
}

@media (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
    }
    #menu-icon {
        position: fixed;
        display: block;
        right: 80px;
        color: white;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 10%;
        padding: 1rem;
        background: var(--second-bg-color);
        border-top: .1rem solid var(--text-color);
        box-shadow: 0 .5rem .1rem var(--second-bg-color);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 2rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 30vw;
        margin-top: 4rem;
    }

    .services-content {
        flex-direction: column;
        align-items: center;
    }

    .portfolio-box img {
        width: 210px;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 30vw;
        margin-top: 4rem;
    }
}

@media (max-width: 450px) { 
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 367px) {
*{
    width: 100%;
}

    .home-img img {
        width: 50vw;
        align-items: center;
    }

    .about-img {
        width: 50vw;
    }

    .services-content {
        display: flex;
        flex-wrap: wrap;
    }

    .services-content .service-box {
        position: relative;
        width: 30%;
    }

    .portfolio-box img {
        position: relative;
        align-items: baseline;
        width: 100%;
    }

}